@model Minesweeper.Models.UserModel

<h4 class="text-center">LOGIN</h4>
<br />
<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="ProcessLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">CANCEL</a>
                <input type="submit" value="LOGIN" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a @*asp-controller="Register" asp-action="Index"*@>Need to Register a New User Account?</a>
        </div>
        @if (@ViewBag.Error != null)
        {
            <div>
                <p style="color: red;">@ViewBag.Error</p>
            </div>
        }
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
