@model RegisterAndLoginApp.Models.UserModel

<div>
    <h4>Well, that's disappointing...</h4>
    <hr />
    <p>Did you forget your password, @Model.UserName? Because <b>@Model.Password</b> is not it.</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
