@model Minesweeper.Models.UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Login" asp-action="Index" style="width:100px;" >LOGIN</a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Register" asp-action="Index" style="width:100px;" >REGISTER</a>
</div>
