@model Minesweeper.Models.UserModel

<div>
    <h4>Registration Failure</h4>
    <hr />
    <p>Either the username: @Model.UserName or the email: @Model.Email already exist. Please try again with differnt username or email</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
